lengMarcas/UT3/UT3_E4.xml

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

<xs:element name="StoreTech">
	<xs:complexType>
	<xs:sequence>
		<xs:element name="departamentos">
		  <xs:complexType>
			<xs:sequence>
					<xs:element name="departamento" maxOccurs="20" >
					  <xs:complexType>
						<xs:sequence>
							<xs:element name="nombre" type="xs:string"/>
							<xs:element name="empleados">
									<xs:complexType>
											<xs:sequence>
												<xs:element name="empleado" maxOccurs="unbounded">
													  <xs:complexType>
														<xs:sequence>
															<xs:element name="nombre" type="xs:string"/>
															<xs:element name="salario" type="xs:int"/>
															<xs:element name="cargo" type="xs:string"/>
														</xs:sequence>
														<xs:attribute name="id" type="xs:int" use="required"/>
													  </xs:complexType>
													</xs:element>
											</xs:sequence>
											<xs:attribute name="id" type="xs:int" use="required"/>
										  </xs:complexType>
										</xs:element>
						</xs:sequence>
									<xs:attribute name="id" type="xs:int" use="required"/>
			
						</xs:complexType>
							</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
		
			<xs:element name="nombre" type="xs:string"/>
		<xs:element name="productos" maxOccurs="unbounded">
		<xs:element name="Ventas" maxOccurs="unbounded"></xs:element>
		</xs:sequence>
		</xs:complexType>
<xs:element name="productos"/>
<xs:element name="Ventas"/>
</xs:schema>